<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Exploitable 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20090327

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title><%=@pagetitle || (@page && @page.pg_title)%></title>
<link href="bims_template.css" rel="stylesheet" type="text/css" media="screen" />
<%= stylesheet_link_tag 'bims_template'%>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#"> <%= "Using Ruby on Rails" %> </a></h1>
			<p><%= render(:partial => 'user/user')%> 
			<%= link_to 'Logout',{:controller => 'user', :action => 'logout'}%></p>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li> <%= link_to 'Home',         view_page_path('home')%>         </li>
         <li> <%= link_to 'About Us',     view_page_path('about')%>    </li>
         <li> <%= link_to 'Contact Us',   view_page_path('contact')%> </li>
         <! take note of the following link
            Original:      link_to 'Users',{:controller = 'pages', :action = 'users'
            Changed to:    link_to 'Users',{:controller = 'users', :action = 'login'
          >
         <li> <%= link_to 'Add User',{:controller => 'user', :action => 'add_user'}%></li>
         <li> <%= link_to 'List Users',{:controller => 'user', :action => 'list_users'}%></li>

		</ul>
	</div>
	<!-- end #menu -->
	<div id="page">
	<div id="page-bgtop">
	<div id="page-bgbtm">
		<div id="content">
			<div class="post">
			<div class="post-bgtop">
			<div class="post-bgbtm">
				<h1 class="title"><a href="#"> <%= @my_title ||  (@page && @page.pg_heading) rescue ''%>  </a></h1>
				<p class="meta"><%=@my_comment  %></p>
				<div class="entry">
					<p>
                  <h3><%= flash[:notice]%></h3> 
					   <%= yield %> <!%=@my_content%>
					</p>
				</div>
			</div>
			</div>
			</div>
					<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
				<li>
					<h2> <%=@sidebar_title || (@page && @page.sb_title) %></h2>
					<p>
					   <%=@sidebar_content || (@page && @page.sb_content) %>
					</p>
				</li>
				<li>
					<h2>Categories</h2>
					<ul>
						<li><a href="#">Uncategorized</a> (3)<span>Rails on the move</span></li>
						<li><a href="#">Rails Specific</a> (3)<span>How Rails can make a difference to your web</span></li>
					</ul>
				</li>
				<li>	
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	</div>
	</div>
	<!-- end #page -->
	<div id="footer">
		<p>Copyright (c) 2009 Edmond C. Kachale. All rights reserved. Based on the CSS template by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
	</div>
	<!-- end #footer -->
</div>
</body>
</html>
